section {
  font-size: 10px;

  .content {
    width: 60%;
    top: 19.4em;

    .header-info {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      h2 {
        font-size: 6.1em;
        font-weight: 700;
        margin-right: 1em;
      }

      .line {
        width: 0.3em;
        height: 5.9em;
        background: #29abe2;
      }

      h4 {
        font-size: 2.7em;
        font-weight: 400;
        margin-left: 1.5em;
      }
    }
  }
}
